InsurHackMobile/InsurHackMobile/obj/
InsurHackMobile/InsurHackMobile.Android/obj/
InsurHackMobile/InsurHackMobile.iOS/obj/
InsurHackMobile/InsurHackMobile/bin/
InsurHackMobile/InsurHackMobile/InsurHackMobile/obj/
InsurHackMobile/InsurHackMobile/InsurHackMobile.Android/obj/
InsurHackMobile/InsurHackMobile/InsurHackMobile.iOS/obj/
InsurHackMobile/InsurHackMobile/InsurHackMobile/bin/
InsurHackMobile/InsurHackMobile/InsurHackMobile.Android/bin/
InsurHackMobile/InsurHackMobile/InsurHackMobile.iOS/bin/
.vs/